.Calendar-month {

  user-select: none;

  .Calendar-month-title {
    font-size: 3rem;
  }

  .Calendar-headers th {
    font-weight: normal;
  }

  .Calendar-today {
   
    &>button:hover {
        transition: scale .2s ease-in;
        transform: scale(1.05);
        outline: 2px solid yellow;
        outline-offset: -3px;
    }

    &>.Calendar-day {

      &>div {
        background: #bfbfbf;
      }
    }

  }

  .Calendar-day {
    position: relative;
    cursor: default;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;

    .TimesTaken {
      display: flex;
      flex-direction: column;
      height: 90%;
      justify-content: space-evenly;
      width: 70%;
      margin-inline-start: 1rem;
      position: absolute;

      &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 19px;
        border: 1px solid #fff;
        width: 3rem;
        height: 1rem;
        margin-inline-start: 1rem;
        background-color: transparent;
        transition: all .2s;
      }

      &>div.Taken {
        background: #750000;
        color: #fff;
        // background: linear-gradient(90deg, rgba(255,0,0,0.500437675070028) 0%, rgba(121,9,9,0.500437675070028) 51%, rgba(245,245,245,0.5032387955182073) 51%, rgba(255,255,255,0.500437675070028) 100%);
      }
    }

    &>div {
      width: 6rem;
      height: 6rem;
      background-color: #8090ad;
      border: 2px solid #282c34;
    }


    &>div:not(.Different-month):hover {
      // transition: scale .2s ease-in;
      // transform: scale(1.05);
      border-color: #fff;
    }


    &>div.Different-month {
      opacity: .25;
    }

    .Calendar-day-number:not(:empty) {
      position: absolute;
      left: 0;
      font-family: verdana;
      padding: 0.25rem;
      min-width: 2rem;
      padding-left: 3px;
    }

    .Calendar-day-marked {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: hue-rotate(248deg);
      font-size: 4.5rem;
      opacity: .75;
    }
  }

  .Calendar-day[data-per-day='2'] {
    .TimesTaken {       
      &>div {
        height: 30%;
      }
    }
  }

  .Calendar-day[data-per-day='3'] {
    .TimesTaken {       
      &>div {
        height: 20%;
      }
    }
  }
  
  .Calendar-day[data-per-day='4'] {
    .TimesTaken {       
      &>div {
        height: 15%;
      }
    }
  }

}

@media screen and (max-width: 700px), 
    screen and (max-height: 700px) {
        
  .Calendar-month {

    .Calendar-headers th {
      font-weight: normal;
    }

    .Calendar-month-title {
      font-size: 2rem;
    }

    .Calendar-day {
      &>div {
        max-width: 2.5rem;
        max-height: 2.5rem;
      }

      .TimesTaken {
        margin-inline-start: 0rem;
        &>div {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 19px;
          border: 1px solid #fff;
          width: 1.25rem;
          height: 0.5rem;
          color: transparent
        }
      }
    
      .Calendar-day-number:not(:empty) {
        min-width: 0.75rem;
      }

      .Calendar-day-marked {
        font-size: 2rem;
      }
    }

    .Calendar-day {
      .TimesTaken {       
        &>div {
          font-size: 0.5rem;
        }
      }
    }

    .Calendar-day[data-per-day='4'] {
      .TimesTaken {       
        &>div {
          font-size: 0.25rem;
        }
      }
    }
  }
}